.footer{
    margin-top: 50px;
    margin-bottom: 20px;
    height: 300px;
    width: 100%; 
}
.footer-ad{
    background-color: red;
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
}
#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}