.footer{
    margin-top: 50px;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
    background-color: hsl(0, 0%, 85%);
    display: flex;
    justify-content: center;
}
#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}